.message {
  height: 100vh;
  &__header {
    font-family: "Chewy", cursive;
    font-size: 2.5rem;
    background: linear-gradient(135deg, #265c8e, #4ca1af);
    color: white;
    text-align: center;
    padding: 1rem;
    height: 10rem;
  }

  &__headerLink {
    color: white;
    text-decoration: none;
  }

  &__wrapper {
    background-color: #ededed;
    height: 200rem;
  }

  &__subheader {
    font-family: "Comic Sans MS", cursive;
    color: #ff00ff;
    font-size: 2.4rem;
    text-align: left;
    padding: 1rem;
    border-radius: 5px;
    animation: pulse 1s infinite;
    background-color: #f5fcfe;
    border: 1px solid rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 10px 20px rgba(228, 10, 170, 0.509);
    width: 23rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  &__subheaderWrapper {
    display: flex;
    justify-content: center;
  }

  &__friend {
    font-size: 2rem;
    border: 0.5rem solid beige;
    border-radius: 1rem;
    background-color: #265c8e;
    padding: 1rem;
    width: 85%;
    color: white;
  }

  &__friendWrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
