.dashboard {
  &__searchInput {
    width: 100%;
    padding: 0.8rem;

    border: 1px solid green;
    border-radius: 3.2rem;
    font-size: 1.6rem;
    padding: 0.8rem 1.6rem;
    // margin-top: 2rem;

    &:focus {
      outline: none;
      //   border-color: $instock-indigo;
    }
  }

  &__searchBarIcon {
    position: absolute;
    right: 2rem;
    bottom: 27rem;
    transform-origin: center center;
    transition: transform 0.2s;
  }

  &__searchWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 20rem;
    // margin-top: 4rem;
    background-color: #ededed;
  }
  &__header {
    background: linear-gradient(
      135deg,
      #265c8e,
      #4ca1af
    ); /* Background gradient */
    color: white;
    font-family: "Chewy", cursive;
    font-size: 2rem;
    text-align: center;

    padding-top: 4rem;
    padding-bottom: 4rem;
    // border-radius: 2rem;
  }

  &__activitiesWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
  }

  &__activitiesList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 8px;
    gap: 2rem;
  }
  &__icon {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5rem;
  }

  &__item {
    padding-top: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    // background: #251b74;
    height: 9rem;
    width: 14rem;
    color: #f0ffff;
    text-align: center;
    font-family: Gotham;
    // font-size: 12px;
    white-space: nowrap;
    // font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    color: white;
    line-height: 20px;
    padding-top: 3.5rem;
    background: linear-gradient(
      135deg,
      #265c8e,
      #4ca1af
    ); /* Background gradient */
    transition: transform 0.2s, background-color 0.2s;
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(228, 10, 170, 0.509);

    &:hover {
      transform: translateY(-3rem);
      background-color: #264c8e; /* Darker shade on hover */
    }
  }

  &__subHeader {
    padding-left: 1rem;
    font-family: "Comic Sans MS", cursive;
    color: #ff00ff;
    font-size: 2.4rem;
    text-align: left;
    padding: 1rem;
    margin: 2rem;
    border-radius: 5px;
    animation: pulse 1s infinite;
    background-color: #f5fcfe;
    border: 1px solid rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 10px 20px rgba(228, 10, 170, 0.509);
    margin-top: 4rem;
    text-align: center;
  }

  &__activitiesHeader {
    padding-left: 1rem;
    font-size: 2.8rem;
    margin-top: 0rem;
    font-family: monospace;
  }
  &__searchBarIcon:hover {
    transform: scale(1.1);
  }

  &__activitiesContainer {
    background-color: #ededed;
  }
}
