.arrow-back {
  background-image: url("../../assets/icons/arrow-back2.png");
  background-position: 110% center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.4rem;
  width: 6.4rem;
//   background-color: #ff00ff;
  border: none;
  margin-top: 1.4rem;
  margin-left: 0.5rem;
  transform: rotate(180deg); /* You can adjust the angle as needed */

}
