//MOBILE TYPOGRAPHY

/* M H1 - Page Header */
$font-size-m-h1: 28px;
$line-height-m-h1: 36px;

/* M H2 - Subheader */
$font-size-m-h2: 20px;
$line-height-m-h2: 28px;

/* M H3 - Labels, Links & Buttons */
$font-size-m-h3: 13px;
$line-height-m-h3: 20px;

/* M H4 - Table header */
$font-size-m-h4: 11px;
$line-height-m-h4: 16px;

/* M P1 - Body Large */
$font-size-m-p1: 15px;
$line-height-m-p1: 26px;

/* M P2 - Body Medium */
$font-size-m-p2: 13px;
$line-height-m-p2: 20px;

/* M P3 - Body Small */
$font-size-m-p3: 11px;
$line-height-m-p3: 16px;

//DESKTOP AND TABLET 

/* H1 - Page Header */
$font-size-h1: 32px;
$line-height-h1: 40px;

/* H2 - Subheader */
$font-size-h2: 24px;
$line-height-h2: 32px;

/* H3 - Labels, Links & Buttons */
$font-size-h3: 14px;
$line-height-h3: 22px;

/* H4 - Table header */
$font-size-h4: 12px;
$line-height-h4: 18px;

/* P1 - Body Large */
$font-size-p1: 16px;
$line-height-p1: 28px;

/* P2 - Body Medium */
$font-size-p2: 14px;
$line-height-p2: 22px;

/* P3 - Body Small */
$font-size-p3: 12px;
$line-height-p3: 18px;
